{% extends "layouts/base_authenticated.html" %}
{% block content %}
  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{category}} page-alert">
          <button data-dismiss="alert" type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <strong> {{message}} </strong>
      </div>
    {% endfor %}
      <div class="col-md-12">
        <table id="upcoming" class="table table-bordered">
          <thead>
            <tr>
              <th>Patient Name</th>
              <th>Doctor Name</th>
              <th>Visit Date</th>
              <th>Visit Done By Doctor</th>
              <th>Note Received?</th>
              <th>Orders Signed?</th>
            </tr>
          </thead>
            {% for vId, pName, drName, vDate, byDr, note, order in visits %}
              <tr>
                <td>{{pName}}</td>
                <td>{{drName}}</td>
                <td>
                  <input type="text" name="{{vId}}_visited_on" id="{{vId}}_visited_on" class="form-control datepicker" value="{{vDate}}">
                </td>
                <td>
                  <input type="checkbox" name="{{vId}}_visited_by_md" id="{{vId}}_visited_by_md" class="form-control radio" {{'checked' if byDr}}>
                </td>
                <td>
                  <input type="checkbox" name="{{vId}}_note_received" id="{{vId}}_note_received" class="form-control" {{'checked' if note}}>
                </td>
                <td>
                  <input type="checkbox" name="{{vId}}_orders_signed" id="{{vId}}_orders_signed" class="form-control" {{'checked' if order}}>
                </td>
              </tr>
            {% endfor %}
          <tbody>
          </tbody>
        </table>
        <button id="submitform" class="btn btn-success">Update Visit(s)</button>
        <br><br>
      </div>
{% block footer %}
{{super()}}
{% endblock %}
</div> <!-- /container -->
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('static', filename='prior_visits.js')}}"></script>
{% endblock %}