{% extends "layouts/base_authenticated.html" %}
{% block content %}
  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{category}} page-alert">
          <button data-dismiss="alert" type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <strong> {{message}} </strong>
      </div>
    {% endfor %}
      <div class="col-md-12">
        <br><hr>
        <table id="upcoming" class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Room</th>
              <th>Last Visit by APRN</th>
              <th>Last Visit by Doctor</th>
              <th>Next Visit Due (Doctor or APRN)</th>
              <th>Next Required Doctor Visit Due</th>
            </tr>
          </thead>
            {% for name, rm, nvDays, nvByDrDays, nv, nvByDr, lvByN, lvByDr in patients %}
              <tr>
                <td>{{name}}</td>
                <td>{{rm}}</td>
                <td>{{lvByN}}</td>
                <td>{{lvByDr}}</td>
                {% if nvDays <= 0 %}
                  <td class="danger">{{nv}}</td>
                {% elif nvDays <= 21 %}
                  <td class="warning">{{nv}}</td>
                {% else %}
                  <td class="success">{{nv}}</td>
                {% endif %}
                {% if nvByDrDays <= 0 %}
                  <td class="danger">{{nvByDr}}</td>
                {% elif nvByDrDays <= 21 %}
                  <td class="warning">{{nvByDr}}</td>
                {% else %}
                  <td class="success">{{nvByDr}}</td>
                {% endif %}
              </tr>
            {% endfor %}
          <tbody>
          </tbody>
        </table>
      </div>
{% block footer %}
{{super()}}
{% endblock %}
</div> <!-- /container -->
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript">
  var table = $('#upcoming').DataTable({
      "aaSorting": [],
      columnDefs: [
      { type: 'date-uk', targets: [2, 3, 4, 5] },
      { type: 'last-name', targets: [0] } //specify your date column number,starting from 0
      ]
      });
  jQuery.extend(jQuery.fn.dataTableExt.oSort, {
    "date-uk-pre": function (a) {
      if (a == null || a == "") {
        return 0;
      }
    var ukDatea = a.split(' ')[0].split('/');
      return (ukDatea[2] + ukDatea[0] + ukDatea[1]) * 1;
    },
    "date-uk-asc": function (a, b) {
      return ((a < b) ? -1 : ((a > b) ? 1 : 0));
    },
    "date-uk-desc": function (a, b) {
      return ((a < b) ? 1 : ((a > b) ? -1 : 0));
    },

    "last-name-pre": function (a) {
      if (a == null || a == "") {
        return 0;
      }
      var lastName = a.split(/\s+/)[1].toLowerCase();
      return lastName
    },
    "last-name-asc": function (a, b) {
      return ((a < b) ? -1 : ((a > b) ? 1 : 0));
    },
    "last-name-desc": function (a, b) {
      return ((a < b) ? 1 : ((a > b) ? -1 : 0));
    }
  });
</script>
{% endblock %}