{% extends "layouts/base_authenticated.html" %}
{% block content %}
  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{category}} page-alert">
          <button data-dismiss="alert" type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <strong> {{message}} </strong>
      </div>
    {% endfor %}
      <div class="col-md-12">
        <br><hr>
        <table id="upcoming" class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Room</th>
              <th>Last Visit by APRN</th>
              <th>Last Visit by Doctor</th>
              <th>Next Visit Due (Doctor or APRN)</th>
              <th>Next Required Doctor Visit Due</th>
            </tr>
          </thead>
            {% for name, rm, nvDays, nvByDrDays, nv, nvByDr, lvByN, lvByDr in patients %}
              <tr>
                <td>{{name}}</td>
                <td>{{rm}}</td>
                <td>{{lvByN}}</td>
                <td>{{lvByDr}}</td>
                {% if nvDays <= 0 %}
                  <td class="danger">{{nv}}</td>
                {% elif nvDays <= 21 %}
                  <td class="warning">{{nv}}</td>
                {% else %}
                  <td class="success">{{nv}}</td>
                {% endif %}
                {% if nvByDrDays <= 0 %}
                  <td class="danger">{{nvByDr}}</td>
                {% elif nvByDrDays <= 21 %}
                  <td class="warning">{{nvByDr}}</td>
                {% else %}
                  <td class="success">{{nvByDr}}</td>
                {% endif %}
              </tr>
            {% endfor %}
          <tbody>
          </tbody>
        </table>
      </div>
{% block footer %}
{{super()}}
{% endblock %}
</div> <!-- /container -->
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('static', filename='upcoming_clinician.js')}}"></script>
{% endblock %}