

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

# Config Files

nursingHomeApp/config_prod.py
nursingHomeApp/config_test.py
nursingHomeApp/config_dev.py

.DS_STORE

# no pyc files, zip files, sublime config files

*.pyc
*.zip
*.cfg
logs/

# ignore venv

env/