

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

# Config Files

nursingHomeApp/config_prod.py
nursingHomeApp/config_test.py

.DS_STORE
