<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>visitMinder</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="navbar.css"/>
    <link rel="stylesheet" type="text/css" href="footer.css"/>

<!--     <link rel="stylesheet" type="text/css" href="jumbotron-narrow.css"> -->

  </head>

  <body>

    <div class="container">

            <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">visitMinder</span>
            <span class="navbar-brand-img"><img src="http://placehold.it/150x50&text=Logo" alt=""></span>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Patients <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Add Patient</a></li>
                  <li><a href="#">View All Patients</a></li>
                  <li><a href="#">Bulk Load Patients</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Management <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Add User</a></li>
                  <li><a href="#">View All Users</a></li>
                </ul>
              </li>
              <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visits <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="active"><a href="#">Add Visits</a></li>
                  <li><a href="#">View Visit History</a></li>
                </ul>
              </li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>Dylan</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>Dylan Russell</strong></p>
                                        <p class="text-left small">dylanrus@gmail.com</p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm">My Account</a>
                                        </p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm">My Notifications</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="#" class="btn btn-danger btn-block">Logout</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <table id="example" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Visited?</th>
                <th>Visited By?</th>
                <th>Visited On?</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            <tr class="danger">
                <td>Dylan</td>
                <td>Russell</td>
                <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                      </label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                      <select class="select form-control" id="select1" name="select1">
                       <option value="NP #1">
                        Nurse P
                       </option>
                       <option value="NP #2">
                        Medical D
                       </option>
                      </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" id="name" name="name" type="text" value="2017/09/09">
                    </div>
                </td>
                <td>2017/08/23 (8 days overdue)</td>
            </tr>
            <tr class="danger">
                <td>Roy</td>
                <td>Russell</td>
                <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                      </label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                      <select class="select form-control" id="select1" name="select1">
                       <option value="NP #1">
                        Nurse P
                       </option>
                       <option value="NP #2">
                        Medical D
                       </option>
                      </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" id="name" name="name" type="text" value="2017/09/09">
                    </div>
                </td>
                <td>2017/08/25 (6 days overdue)</td>
            </tr>
            <tr class="warning">
                <td>John</td>
                <td>David</td>
                <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                      </label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                      <select class="select form-control" id="select1" name="select1">
                       <option value="NP #1">
                        Nurse P
                       </option>
                       <option value="NP #2">
                        Medical D
                       </option>
                      </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" id="name" name="name" type="text" value="2017/09/09">
                    </div>
                </td>
                <td>2017/09/01 (Due Today)</td>
            </tr>
            <tr class="warning">
                <td>David</td>
                <td>Johnson</td>
                <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                      </label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                      <select class="select form-control" id="select1" name="select1">
                       <option value="NP #1">
                        Nurse P
                       </option>
                       <option value="NP #2">
                        Medical D
                       </option>
                      </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" id="name" name="name" type="text" value="2017/09/09">
                    </div>
                </td>
                <td>2017/09/05 (Due in 4 days)</td>
            </tr>
            <tr class="info">
                <td>Rob</td>
                <td>Ryan</td>
                <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                      </label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                      <select class="select form-control" id="select1" name="select1">
                       <option value="NP #1">
                        Nurse P
                       </option>
                       <option value="NP #2">
                        Medical D
                       </option>
                      </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" id="name" name="name" type="text" value="2017/09/09">
                    </div>
                </td>
                <td>2017/09/05 (Due in 5 days)</td>
            </tr>
            <tr class="info">
                <td>Borat</td>
                <td>Rex</td>
                <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                      </label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                      <select class="select form-control" id="select1" name="select1">
                       <option value="NP #1">
                        Nurse P
                       </option>
                       <option value="NP #2">
                        Medical D
                       </option>
                      </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" id="name" name="name" type="text" value="2017/09/09">
                    </div>
                </td>
                <td>2017/09/07 (7 days overdue)</td>
            </tr>
        </tbody>
      </table>
      <div class="col-sm-12">
          <button class="btn btn-primary">Add</button>
          <br><br>
      </div>
    <footer class="footer col-sm-12">
      <p>&copy; 2016 Company, Inc.</p>
    </footer>   
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.js"></script>

    <!-- Bootstrp core JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          $('#example').DataTable();
      } );
    </script>
  </body>
</html>
