{% import 'bootstrap/wtf.html' as wtf %}
{% extends "lasyouts/base_authenticated.html" %}
{% block content %}
  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{category}} page-alert">
          <button data-dismiss="alert" type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <strong> {{message}} </strong>
      </div>
    {% endfor %}
    <div class="panel panel-default" style="white-space: nowrap;">
      <div class="panel-heading">Example Patient CSV File <a href="{{url_for('static', filename='patients_template.csv')}}" download>(Download)</a></div>
      <ul class="list-group">
        <li class="list-group-item">
          Patient's First Name, Patient's Last Name, Room Number, Patient's Status, Patient's Doctor, Patient's Nurse, Last Visit Date, Last Visit by Doctor Date, Admittance Date, Has Medicaid?<br>
          John, Doe, 233, Long Term Care, Doctor Smith, Nurse Smith, 2017-05-05, 2017-04-04, 2017-03-03, Yes<br>
          Jane, Doe, 133, New Admission, Doctor Smith, Nurse Smith,,, 2017-03-03, No<br>
          Jane, Doe, 133, Skilled Care, Doctor Smith,,2017-06-06,2017-04-09, 2017-03-03, No
        </li>
        </ul>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Explanation</div>
        <ul class="list-group">
            <li class="list-group-item">File must be in csv format, and have a header row followed by any number of rows of data.</li>
            <li class="list-group-item">Each row of data must have the following fields, in this order (leave optional fields blank if not applicable):<br><br>
              Patient's First Name (Required), Patient's Last Name (Required), Room Number (Required), Patient's Status (Required), Patient's Doctor (Required), Patient's Nurse (Optional), Last Visit Date (Optional), Last Visit by Doctor Date (Optional), Admittance Date (Only required if patient is new admission), Has Medicaid (Optional)
            </li>
            <li class="list-group-item">Patient's Status Must be one of the Following: Long Term Care, Skilled Care, New Admission, Assisted Living
            </li>
            <li class="list-group-item">Dates must be in the format: YYYY-mm-dd. Ex: 2017-10-20</li>
            <li class="list-group-item">Any Doctor or Nurse named in the file must have been added as a user for visitMinder.</li>
            <li class="list-group-item">If a patient has medicaid put Yes in that column, otherwise put No or leave it empty.</li>
        </ul>
    </div>
{% block footer %}
{{super()}}
{% endblock %}
</div> <!-- /container -->
{% endblock %}
