{% extends "layouts/base_authenticated.html" %}
{% block content %}
  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{category}} page-alert">
          <button data-dismiss="alert" type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <strong> {{message}} </strong>
      </div>
    {% endfor %}
    {% if current_user.role in ['Clerk', 'Clerk Manager', 'Facility Admin'] %}
      <div class="col-md-4">
        <select id="floornum" class="form-control">
          <option value="">View Patients by Floor</option>
          <option value="">All Floors</option>
          {% for n in range(1, numFloors + 1) %}
            <option value="^{{n}}">{{n}}</option>
          {% endfor %}
        </select>
      </div>
    {% endif %}
      <table id="patients" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <br><hr>
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                {% if current_user.role not in ['Clerk', 'Clerk Manager', 'Facility Admin'] %}
                  <th>Facility Name</th>
                {% endif %}
                <th>Room #</th>
                {% if current_user.role not in ['Physician', 'Nurse Practitioner'] %}
                  <th>Status</th>
                  <th>Physician</th>
                  <th>Medicaid?</th>
                  <th>Update Patient</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for first, last, room, status, mdName, npName, hasMedicaid, facility, pId in patients %}
              <tr>
                  <td>{{first}}</td>
                  <td>{{last}}</td>
                  {% if current_user.role not in ['Clerk', 'Clerk Manager', 'Facility Admin'] %}
                    <td>{{facility}}</td>
                  {% endif %}
                  <td>{{room}}</td>
                  {% if current_user.role not in ['Physician', 'Nurse Practitioner'] %}
                    <td>{{status}}</td>
                    <td>{{mdName}}</td>
                    <td>{{hasMedicaid}}</td>
                    <td><a href="{{url_for('patient.update_patient', id=pId)}}">Update Patient</a></td>
                  {% endif %}
              </tr>
            {% endfor %}
        </tbody>
      </table>
      {% if current_user.role not in ['Physician', 'Nurse Practitioner'] %}
        <form method="POST" action="" class="col-md-12 form-horizontal">
          <div class="form-group">
            <button type="submit" class="btn btn-success">Download</button>
          </div>
        </form>
      {% endif %}
{% block footer %}
{{super()}}
{% endblock %}
</div> <!-- /container -->
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript">
  $(document).ready(function() {
    var table = $('#patients').DataTable({
        "aaSorting": [],
        columnDefs: [
        { type: 'last-name', targets: [4] }
        ]
        });
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
      "last-name-pre": function (a) {
        if (a == null || a == "") {
          return 0;
        }
        var lastName = a.split(/\s+/)[1].toLowerCase();
        return lastName
      },
      "last-name-asc": function (a, b) {
        return ((a < b) ? -1 : ((a > b) ? 1 : 0));
      },
      "last-name-desc": function (a, b) {
        return ((a < b) ? 1 : ((a > b) ? -1 : 0));
      }
    });
    table.column(2).search("{{'^' + current_user.floor if current_user.floor}}", true, false).draw();
    $("#floornum").change((function() {
      table.column(2).search($("#floornum option:selected").val(), true, false).draw();
    }));
  } );
</script>
{% endblock %}