{% import 'bootstrap/wtf.html' as wtf %}
{% extends "base.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='jumbotron-narrow.css')}}">
{% endblock %}
{% block navbar %}
<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" {% if request.endpoint == 'login' %} class="active" {% endif %}><a href="{{url_for('login')}}">Sign In</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">visitMinder</h3>
  </div>
{% endblock %}
{% block content %}
  <div class="container">
    <p>Sorry, we had an error on our end. If this is preventing you from doing something, send us an email @ visitMinder@gmail.com.

        Otherwise you can ignore this and we will look into it shortly.

    Thanks!</p>
{% block footer %}
{{super()}}
{% endblock %}
</div> <!-- /container -->
{% endblock %}
