{% import 'bootstrap/wtf.html' as wtf %}
{% extends "layouts/base.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='jumbotron-narrow.css')}}">
{% endblock %}
{% block navbar %}
<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="{{url_for('registration.login')}}">Sign In</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">visitMinder</h3>
  </div>
{% endblock %}
{% block content %}
  <div class="jumbotron">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{category}} page-alert">
          <button data-dismiss="alert" type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <strong> {{message}} </strong>
      </div>
    {% endfor %}
    {{ wtf.quick_form(form, form_type='horizontal', horizontal_columns=('md', 4, 4), button_map={'submit': 'success'}) }}
    <div class="col-md-4 col-md-offset-4">
      <a href="{{url_for('registration.forgot_pword')}}">Forgot Your Password?</a>
    </div>
  </div>
{% block footer %}
{{super()}}
{% endblock %}
</div> <!-- /container -->
{% endblock %}
