{% import 'bootstrap/wtf.html' as wtf %}
{% extends "layouts/base_authenticated.html" %}
{% block content %}
  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{category}} page-alert">
          <button data-dismiss="alert" type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <strong> {{message}} </strong>
      </div>
    {% endfor %}
      <table id="users" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                {% if current_user.role == 'Site Admin' %}
                  <th>Facility Name(s)</th>
                {% endif %}
                <th>Resend Invitation Email</th>
                <th>Invitation E-mail Sent On</th>
                {% if canRemove.get(current_user.role) %}
                  <th>Remove or Add User</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for first, last, email, phone, role, active, id, hasPw, lastSent in users %}
              <tr>
                  <td>{{first}}</td>
                  <td>{{last}}</td>
                  <td>{{email}}</td>
                  <td>{{phone}}</td>
                  <td>{{role}}</td>
                  {% if current_user.role == 'Site Admin' %}
                    <th>{{facilities.get(id, 'None')}}</th>
                  {% endif %}
                  <td>
                    {% if hasPw %}
                      User already registered!
                    {% elif not active %}
                      User has been removed!
                    {% else %}
                      <a href="{{url_for('registration.send_invitation', userId=id)}}">Resend Invitation Email</a>
                    {% endif %}
                  </td>
                  <td>{{lastSent}}</td>
                  {% if canRemove.get(current_user.role) %}
                    <td>
                      {% if role in canRemove.get(current_user.role) %}
                        <a href="{{url_for('registration.toggle_user', id=id)}}" class="btn btn-{% if active %}danger{% else %}success{% endif %}">
                        {% if active %}Remove{% else %}Add{% endif %}
                        </a>
                      {% else %}
                        <p>N/A</p>
                      {% endif %}
                    </td>
                  {% endif %}
              </tr>
            {% endfor %}
        </tbody>
      </table>
{% block footer %}
{{super()}}
{% endblock %}
</div> <!-- /container -->
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('static', filename='view_user.js')}}"></script>
{% endblock %}