<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <p>Hello {{first}} {{last}},</p>
  <p>Below are your patients' upcoming visit dates.</p><br>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Room</th>
        <th>Last Doctor Visit</th>
        <th>Next Required Visit (Doctor or Nurse)</th>
        <th>Next Required Doctor Visit</th>
      </tr>
    </thead>
      {% for name, room, days_until_next_visit, days_until_next_dr_visit, next_visit, 
        next_dr_visit, last_nurse_visit, last_doctor_visit in patients %}
        <tr>
          <td>{{name}}</td>
          <td>{{room}}</td>
          <td>{{last_doctor_visit}}</td>
          <td>{{next_visit}}</td>
          <td>{{next_dr_visit}}</td>
        </tr>
      {% endfor %}
    <tbody>
    </tbody>
  </table>
  <p>For more information regarding upcoming visits, login to your account on <a href="{{homepage}}">visitMinder</a>.</p><br>
   <p>Follow this link if you would like all notifications turned off:</p>
    <p><a href="{{ opt_out_url }}">{{ opt_out_url }}</a></p><br>
    <p>Questions or Feedback?<br> Contact visitminder@gmail.com</p>
</body>
</html>